# Terraform
.terraform/
*.tfstate
*.tfstate.backup
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Local IDE files
.vscode/
*.log
#.terraform lock file
.terraform.lock.hcl
